<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
<appSettings>
  <add key="Proxy" value="false"></add>
  <add key="ProxyAddress" value=""></add>
  <add key="ProxyPort" value="8080"></add>
  <add key="Domain" value=""></add>
  <add key="Login" value=""></add>
  <add key="Password" value=""></add>
  <add key="OutputDir" value="d:\"></add>
  <add key="Wait" value="500"></add>
</appSettings>
</configuration>
